<header
  class="bg-gray-50/50 bg-clip-border shadow-xl shadow-emerald-gray-900/5"
>
  <div
    class="flex h-16 max-w-screen-xl items-center gap-8 px-4 sm:px-6 lg:px-8"
  >
    <!-- Logo -->
    <a class="block text-emerald-700" href="#">
      <img src="#" alt="logo" />
    </a>

    <!-- Botones -->
    <div class="flex flex-1 items-center justify-end md:justify-between">
      <nav class="md:block font-sans">
        <ul class="flex items-center gap-6 text-sm">
          <li>
            <a
              routerLink=""
              class="font-semibold p-2 rounded-lg text-gray-900 transition hover:bg-emerald-100 active:bg-emerald-100 focus:bg-emerald-100"
            >
              boton1
            </a>
          </li>

          <li>
            <a
              routerLink=""
              class="font-semibold p-2 rounded-lg text-gray-900 transition hover:bg-emerald-100 active:bg-emerald-100 focus:bg-emerald-100"
            >
              boton2
            </a>
          </li>

          <li>
            <a
              routerLink=""
              class="font-semibold p-2 rounded-lg text-gray-900 transition hover:bg-emerald-100 active:bg-emerald-100 focus:bg-emerald-100"
            >
              boton3
            </a>
          </li>

          <li>
            <a
              routerLink=""
              class="font-semibold p-2 rounded-lg text-gray-900 transition hover:bg-emerald-100 active:bg-emerald-100 focus:bg-emerald-100"
            >
              boton4
            </a>
          </li>

          <li>
            <a
              routerLink=""
              class="font-semibold p-2 rounded-lg text-gray-900 transition hover:bg-emerald-100 active:bg-emerald-100 focus:bg-emerald-100"
            >
              boton5
            </a>
          </li>

          <li>
            <a
              routerLink=""
              class="font-semibold p-2 rounded-lg text-gray-900 transition hover:bg-emerald-100 active:bg-emerald-100 focus:bg-emerald-100"
            >
              boton6
            </a>
          </li>
        </ul>
      </nav>

      <!-- Filtro Busqueda -->
      <div class="flex items-center gap-4">
        <div class="flex items-center h-screen justify-center">
          <div
            class="flex h-8 w-44 mx-7 lg:max-w-[500px] rounded-full border-gray-400 border-opacity-65 border bg-gray-100 px-2"
          >
            <input
              type="text"
              class="flex w-full bg-transparent px-3 text-gray-700 rtl:text-right outline-0 font-sans"
              placeholder="Buscar"
            />
            <!-- Linea divisoria busqueda -->
            <div class="border-gray-400 border-opacity-70 my-1 border-l"></div>
            <!-- Botón con incono de lupa -->
            <button
              type="submit"
              class="relative rounded-full bg-transparent px-1"
            >
              <svg
                class="fill-none size-6"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0" />

                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />

                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M14.9536 14.9458L21 21M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
                    stroke="#999"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <!-- Mostrar icono de usuario y botón de salir si está autenticado -->
      <!-- Botones logOut & logIn -->
      <div class="flex relative items-center gap-2">
        <div routerLink="/auth/log-in" role="button">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            aria-hidden="true"
            class="h-11 w-11"
          >
            <path
              fill-rule="evenodd"
              d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <div
            class="absolute flex flex-col items-center mr-52 w-40 bg-gray-300/95"
          >
            <ul>
              <!-- Boton LogIn -->
              <!-- Mostrar Iniciar Sesión si no está autenticado -->
              @if (!isAuthenticated) {
              <li>
                <a>
                  <div role="button" class="flex justify-items-end">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="currentColor"
                      class="bi bi-box-arrow-in-right h-6 w-6"
                      viewBox="0 0 16 16"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"
                      />
                      <path
                        fill-rule="evenodd"
                        d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"
                      />
                    </svg>
                    <label>logIn</label>
                  </div>
                </a>
              </li>
              }
              <!-- Boton Log Out -->
              @else {
              <li>
                <a (click)="userLogOut()">
                  <div role="button" class="flex">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="currentColor"
                      aria-hidden="true"
                      class="h-5 w-5"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M12 2.25a.75.75 0 01.75.75v9a.75.75 0 01-1.5 0V3a.75.75 0 01.75-.75zM6.166 5.106a.75.75 0 010 1.06 8.25 8.25 0 1011.668 0 .75.75 0 111.06-1.06c3.808 3.807 3.808 9.98 0 13.788-3.807 3.808-9.98 3.808-13.788 0-3.808-3.807-3.808-9.98 0-13.788a.75.75 0 011.06 0z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                    <label>Log Out</label>
                  </div>
                </a>
              </li>
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
