<header
  class="flex items-center fixed w-full h-20 bg-emerald-200/50 dark:bg-emerald-600/50 shadow-xl shadow-emerald-gray-900 border-b-2 border-emerald-800 dark:border-emerald-500"
>
    <!-- Contenedor Dropdown Sidebar y Logo -->
    <div class="flex items-center">
      <!-- Dropdown Menu Sidebar -->
      <!-- <div class="relative"> -->
        <!-- <button (click)="Dropdown.toggleSideDropdown()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            fill="currentColor"
            class=" text-emerald-600 hover:text-emerald-700"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
            />
          </svg>
        </button> -->
        <!-- Enlace al componente Sidebar -->
        <!-- <div
          [ngClass]="{
            'transition ease-out duration-300 transform opacity-100 scale-100':
              Dropdown.isDropdownSideOpen,
            'transition ease-in duration-75 transform opacity-0 scale-95':
              !Dropdown.isDropdownSideOpen
          }"
          class="absolute flex flex-col -left-8 h-calc[(100vh-72.8px)] w-48 mt-6 rounded-br-lg border-t-2 border-emerald-800 dark:border-emerald-500 bg-emerald-200 dark:bg-emerald-700 text-gray-900 p-4 shadow-xl shadow-emerald-gray-900"
        >
          <app-sidebar />
        </div>
      </div> -->
      <!-- Logo -->
      <a class="text-gray-900" routerLink="/">
        <img src="#" alt="logo" />
      </a>
    </div>

    <!-- NavBar -->
    <div class="mx-2">
      <nav class="font-sans">
        <ul class="flex items-center gap-1 text-sm">
          <li>
            <a
              routerLink=""
              class="font-semibold p-2 rounded-lg text-gray-900 transition hover:bg-emerald-700/50 dark:hover:bg-emerald-100 active:bg-emerald-100 focus:bg-emerald-100"
            >
              boton1
            </a>
          </li>

          <li>
            <a
              routerLink=""
              class="font-semibold p-2 rounded-lg text-gray-900 transition hover:bg-emerald-700/50 dark:hover:bg-emerald-100 active:bg-emerald-100 focus:bg-emerald-100"
            >
              boton2
            </a>
          </li>

          <li>
            <a
              routerLink=""
              class="font-semibold p-2 rounded-lg text-gray-900 transition hover:bg-emerald-700/50 dark:hover:bg-emerald-100 active:bg-emerald-100 focus:bg-emerald-100"
            >
              boton3
            </a>
          </li>

          <li>
            <a
              routerLink=""
              class="font-semibold p-2 rounded-lg text-gray-900 transition hover:bg-emerald-700/50 dark:hover:bg-emerald-100 active:bg-emerald-100 focus:bg-emerald-100"
            >
              boton4
            </a>
          </li>

          <li>
            <a
              routerLink=""
              class="font-semibold p-2 rounded-lg text-gray-900 transition hover:bg-emerald-700/50 dark:hover:bg-emerald-100 active:bg-emerald-100 focus:bg-emerald-100"
            >
              boton5
            </a>
          </li>

          <li>
            <a
              routerLink=""
              class="font-semibold p-2 rounded-lg text-gray-900 transition hover:bg-emerald-700/50 dark:hover:bg-emerald-100 active:bg-emerald-100 focus:bg-emerald-100"
            >
              boton6
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- Contenedor Busqueda y Usuario -->
    <div class="flex items-center">
      <!-- Filtro Busqueda -->
      <div class="items-center">
        <div class="flex items-center h-screen justify-center">
          <div
            class="flex h-8 w-44 mx-7 lg:max-w-[500px] rounded-full border-gray-400 border-opacity-65 border bg-gray-100 px-2"
          >
            <input
              type="text"
              class="flex w-full bg-transparent px-3 text-gray-700 rtl:text-right outline-0 font-sans"
              placeholder="Buscar"
            />
            <!-- Linea divisoria busqueda -->
            <div class="border-gray-400 border-opacity-70 my-1 border-l"></div>
            <!-- Botón con incono de lupa -->
            <button
              type="submit"
              class="relative rounded-full bg-transparent px-1"
            >
              <svg
                class="fill-none size-6"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0" />

                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />

                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M14.9536 14.9458L21 21M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
                    stroke="#999"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <!-- Icono menu usuario -->
      <div id="user" class="relative gap-2">
        <button (click)="toggleUserDropdown()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            aria-hidden="true"
            class="h-9 w-9 text-emerald-600 hover:text-emerald-700"
          >
            <path
              fill-rule="evenodd"
              d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
        <!-- Contenedor Dropdown Usuario -->
        <!-- [ngClass]: Esta directiva de Angular se usa para agregar o quitar clases CSS condicionalmente basándose en una expresión booleana. -->
        <div
          [ngClass]="{
            'transition ease-out duration-300 transform opacity-100 scale-100':
              isDropdownUserOpen,
            'transition ease-in duration-75 transform opacity-0 scale-95':
              !isDropdownUserOpen
          }"
          class="absolute rounded-md right-1 w-40 p-4 z-10 bg-emerald-200 dark:bg-emerald-700"
        >
          <!-- Mostrar Iniciar Sesión si no está autenticado -->
          @if (!isAuthenticated) {
          <a
            routerLink="/auth/log-in"
            class="flex justify-start p-2 hover:bg-emerald-100 hover:rounded-md"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              class="bi bi-box-arrow-in-right h-6 w-6"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"
              />
              <path
                fill-rule="evenodd"
                d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"
              />
            </svg>
            <label class="ml-2 cursor-pointer">logIn</label>
          </a>
          }
          <!-- Mostrar icono de usuario y botón de salir si está autenticado -->
          @else {
          <a
            routerLink="/user"
            class="flex justify-start p-2 hover:bg-emerald-100 hover:rounded-md"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              class="h-5 w-5"
            >
              <path
                fill-rule="evenodd"
                d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <label class="ml-2 cursor-pointer">User</label>
          </a>
          <a
            (click)="userLogOut()"
            class="flex justify-start p-2 hover:bg-emerald-100 hover:rounded-md"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              class="h-5 w-5"
            >
              <path
                fill-rule="evenodd"
                d="M12 2.25a.75.75 0 01.75.75v9a.75.75 0 01-1.5 0V3a.75.75 0 01.75-.75zM6.166 5.106a.75.75 0 010 1.06 8.25 8.25 0 1011.668 0 .75.75 0 111.06-1.06c3.808 3.807 3.808 9.98 0 13.788-3.807 3.808-9.98 3.808-13.788 0-3.808-3.807-3.808-9.98 0-13.788a.75.75 0 011.06 0z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <label class="ml-2 cursor-pointer">Log Out</label>
          </a>
          }
        </div>
      </div>
    </div>
 
</header>
