<div class="layout" [class.sidebar-hidden]="!isSidebarVisible">

  <!-- Header -->
  <header 
    class="header bg-gray-50 shadow-md"
    >
    <!-- Aquí escuchamos el evento desde el HeaderComponent -->
    <app-header (toggleSidebar)="toggleSidebar()"></app-header>
  </header>

  <!-- Barra lateral -->
   @if(isSidebarVisible) {
    <aside class="sidebar bg-emerald-500">
      <app-sidebar></app-sidebar>
    </aside>
   }
  
  <!-- Contenedor principal -->
  <section class="content">
    <router-outlet />
  </section>

  <!-- Footer -->
  <footer class="footer bg-gray-50">
    <app-footer />
  </footer>
</div>