<div
  class="grid grid-cols-[200px_minmax(auto,_1fr)] grid-rows-[80px_minmax(auto,_1fr)_50px] h-screen w-auto"
>
  <!-- Contenedor Header -->
  <section class="col-span-2">
    <app-header />
  </section>

  <section class="absolute h-[calc(100vh-80px)]">
    <app-sidebar></app-sidebar>
  </section>

  <!-- Contenedor Panel Central -->
  @if (Dropdown.isDropdownSideOpen) {
  <section class="row-start-2">
    <router-outlet></router-outlet>
  </section>
  }
   <!-- @else {
  <section class="col-span-2 row-start-2">
    <router-outlet></router-outlet>
  </section>
  } -->

  <!-- Contenedor Footer -->
  <!-- <section class="col-span-2 row-start-3">
    <app-footer />
  </section> -->
</div>
