/* Layout sin sidebar (por defecto) */
.layout {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-areas:
    "header header header header"
    "content content content content"
    "footer footer footer footer";
  grid-template-rows: 60px auto 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* El contenido ocupará todo el ancho */
}

.header {
  grid-area: header;
  width: 100%;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

/* Layout con sidebar visible (cuando el usuario está autenticado) */
.sidebar-visible {
  grid-template-areas:
    "header header header header"
    "aside aside aside aside"
    "content content content content"
    "footer footer footer footer";
    grid-template-rows: 60px auto auto auto;
}

.sidebar {
  grid-area: aside;
}

@media (min-width: 640px) {
/* Layout con sidebar visible (cuando el usuario está autenticado) */
.sidebar-visible {
  grid-template-areas:
    "aside header header header"
    "aside content content content"
    "footer footer footer footer";
  grid-template-columns: 250px 1fr 1fr 1fr;
}

 }