<section class="flex flex-col justify-center items-center h-screen">
  <!-- Contenedor principal del formulario -->
  <div
    class="w-full rounded-lg sm:border sm:border-gray-200 sm:shadow-xl sm:dark:border-gray-700 sm:max-w-md sm:dark:bg-gray-800 px-6 max-h-[800px]"
  >
    <!-- Contenido del formulario -->
    <div class="p-6 space-y-4 md:space-y-6 sm:p-8 max-h-full">
      <!-- Título del formulario -->
      <h1
        class="text-xl text-center font-bold text-gray-900 md:text-2xl dark:text-white"
      >
        Restablece tu contraseña
      </h1>
      <p class="text-gray-900 dark:text-gray-100 text-sm text-center">
        Introduce el correo electrónico que utilizas para iniciar sesión y te
        enviaremos un enlace para restablecer la contraseña
      </p>

      <!-- Formulario de creación de cuenta -->
      <form
        class="space-y-4 md:space-y-6"
        [formGroup]="form"
        (ngSubmit)="submit()"
      >
        <!-- Campo para el correo electrónico -->
        <div>
          <input
            type="email"
            name="email"
            id="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-emerald-600 focus:border-emerald-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Correo"
            formControlName="email"
          />
          @if(hasEmailError()) {
          <small class="text-red-400 font-medium"
            >El correo debe ser válido.</small
          >
          }
        </div>

        <button
          type="submit"
          class="w-full text-white bg-emerald-600 hover:bg-emerald-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-emerald-600 dark:hover:bg-emerald-700 dark:focus:ring-emerald-800"
        >
          Enviar
        </button>

        <div class="text-center">
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            ¿Quieres volver a inicar sesión?
            <a
              routerLink="/auth/log-in"
              class="font-medium text-emerald-600 hover:underline dark:text-emerald-500"
              >Inicia Sesión
            </a>
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
