<section class="flex flex-col justify-center items-center h-screen">
  <div
    class="w-full rounded-lg sm:border sm:border-gray-200 sm:shadow-xl sm:dark:border-gray-700 sm:max-w-md sm:dark:bg-gray-800 px-6">
    
    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">

      <form class="space-y-4 md:space-y-6">
      
        <!-- Campo de correo electrónico -->
        <div>
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            Nombre
          </label>
          <input type="email" name="email" id="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-emerald-600 focus:border-emerald-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="name@company.com" formControlName="email">
        </div>
      </form>
    </div>
  </div>
</section>