<!-- Contenedor del modal -->
<div class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">

  @if (toolData) {
  <!-- Contenido del modal -->
  <div
    class="bg-white rounded-md shadow-lg w-4/5 md:w-1/2 xl:w-1/3 relative overflow-y-auto max-h-[calc(100vh-20px)] pb-6 dark:bg-gray-800 h-auto">

    <!-- Botón de cerrar encima de la cabecera -->
    <div class="absolute top-2 right-2 cursor-pointer" (click)="close()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6 text-gray-500" viewBox="0 0 16 16">
        <path
          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
      </svg>
    </div>

    <!-- Cabecera -->
    <section
      class="w-full bg-gray-100 dark:bg-gray-700 p-4 rounded-t-md mb-6 flex items-start justify-start sm:px-6">

      <div class="flex flex-col flex-grow">
        <!-- Logo y nombre de la herramienta -->
        <div class="flex flex-col items-start">
          <!-- Logo de la herramienta -->
          <div class="w-10 h-10 mb-3">
            @if(toolData.logo) {
              <img [src]="toolData.logo" alt="{{ toolData.name }}">
            } @else {
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                class="text-gray-500" viewBox="0 0 16 16">
                <path
                d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z" />
              </svg>
            }
          </div>

          <!-- Nombre de la herramienta -->
          <input
            type="text" 
            [(ngModel)]="toolData.name"
            class="text-2xl font-bold bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full md:w-1/2 p-1 dark:bg-gray-700 dark:text-gray-200" />
          <textarea
            type="text" 
            [(ngModel)]="toolData.detail" 
            class="block w-full text-sm text-gray-600 mt-2 resize-none bg-gray-50 border border-gray-300 rounded-lg p-1 dark:bg-gray-700 dark:text-gray-100"></textarea>
          <input 
            type="number" 
            [(ngModel)]="toolData.price"
            min="0"
            class="text-sm w-20 font-medium text-emerald-700 dark:text-emerald-300 mt-2 bg-gray-50 border border-gray-300 rounded-lg p-1 dark:bg-gray-700">
        </div>
      </div>
    </section>

    <!-- Cuerpo del modal -->
    <section>

      <div class="flex flex-col mt-4 px-4 sm:px-6 space-y-6">
        <!-- Descripción de la herramienta -->
        <textarea 
          autosize
          [(ngModel)]="toolData.description" 
          class="text-gray-600 dark:text-gray-200 text-sm block w-full resize-none border border-gray-300 rounded-lg p-1 dark:bg-gray-800 dark:border-gray-600">
        </textarea>

        <!-- Lista dinámica de propiedades usando el array properties -->
        <ul class="grid grid-cols-1 md:grid-cols-2 gap-2">
          <li *ngFor="let property of toolData?.properties; let i = index" class="flex items-center">

          <!-- Input para editar cada propiedad -->
          <input [(ngModel)]="toolData.properties[i]"
            class="text-sm text-gray-600 dark:text-gray-200 flex-grow p-1 border rounded-lg border-gray-300 dark:bg-gray-800 dark:border-gray-600"/>
          </li>
        </ul>

        <!-- Sección de Video -->
        <div>
          <!-- Input para ingresar o editar la URL del video -->
          <input
            type="text"
            [(ngModel)]="toolData.video"
            placeholder="Ingresa la URL del video"
            class="w-full p-1 text-sm border rounded-lg border-gray-300 dark:bg-gray-800 dark:text-gray-200 text-gray-700 "
          />
      
          <!-- Iframe para mostrar el video -->
          <iframe
            [src]="getEmbedUrl(toolData.video)"
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen
            class="w-full py-4 rounded-lg">
          </iframe>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          <div *ngFor="let image of toolData?.images"
            class=" bg-gray-200 dark:bg-gray-700 flex items-center justify-center overflow-hidden">
            <img [src]="image" alt="Captura" class="object-cover h-full w-full" />
          </div>
        </div>
      </div>
    </section>
  </div>
  }
</div>