<header class="h-[70px] mb-8 w-full p-4 border-b-2">
  <nav class="flex justify-between">
    <!-- Título del proyecto -->
    <a class="text-2xl font-bold" routerLink="/">Firebase Project</a>
    
    <div class="flex justify-end items-center">
      <!-- Mostrar Iniciar Sesión si no está autenticado -->
      @if (!isAuthenticated) {
        <button 
          routerLink="/auth/log-in" 
          class="w-32 focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
          Iniciar Sesión
        </button>
      } 
      <!-- Mostrar icono de usuario y botón de salir si está autenticado -->
      @else {
        <a routerLink="/user" class="px-4">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
          </svg>
        </a>
        <button 
          (click)="userLogOut()" 
          class="w-32 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
          Salir
        </button>
      }
    </div>
  </nav>
</header>

<!-- Componente de enrutamiento -->
<router-outlet></router-outlet>

<!-- Componente de notificaciones Toast-->
<ngx-sonner-toaster></ngx-sonner-toaster>
