<!-- Logo -->
<div class="hidden sm:block">
  <a class="flex mx-2 my-6 items-center justify-start text-gray-900 dark:text-gray-200">
    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-8 h-8 mx-2" viewBox="0 0 16 16">
      <path
        d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z" />
    </svg>
    <p class="text-2xl font-bold">Project</p>
  </a>
</div> 


<!-- Opciones página usuario -->
<div>
  <!-- Mis colecciones -->
  <div class="flex flex-col gap-1 h-full w-full text-sm sm:text-base font-medium text-gray-900 dark:text-gray-200">
    <a routerLink="">
      <div role="button" tabindex="0"
        class="flex items-center w-full p-3 text-start leading-tight transition-all hover:bg-emerald-100 dark:hover:bg-gray-700 hover:bg-opacity-90 focus:bg-emerald-100 dark:focus:bg-gray-700 focus:bg-opacity-100 active:bg-opacity-100 outline-none">
        <div class="grid place-items-center mr-4">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-4 h-4 md:w-5 md:h-5" viewBox="0 0 16 16">
            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4z"/>
          </svg>
        </div>
        Tus Aplicaciones
      </div>
    </a>
    
    <!-- Favoritos -->
    <a routerLink="">
      <div role="button" tabindex="0"
        class="flex items-center w-full p-3 text-start leading-tight transition-all hover:bg-emerald-100 dark:hover:bg-gray-700 hover:bg-opacity-90 focus:bg-emerald-100 dark:focus:bg-gray-700 focus:bg-opacity-100 active:bg-opacity-100 outline-none">
        <div class="grid place-items-center mr-4">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-4 h-4 md:w-5 md:h-5" viewBox="0 0 16 16">
            <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1"/>
          </svg>
        </div>
        Favoritos
      </div>
    </a>
  </div>
</div>