<!-- Logo -->
<div class="hidden sm:block">
  <a class="flex mx-2 my-6 items-center justify-start text-gray-900 dark:text-gray-200">
    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-8 h-8 mx-2" viewBox="0 0 16 16">
      <path
        d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z" />
    </svg>
    <p class="text-2xl font-bold">Project</p>
  </a>
</div>

<!-- Opciones página usuario -->
<div>
  <!-- Mis colecciones -->
  <div class="flex flex-col gap-1 h-full w-full text-sm sm:text-base font-medium text-gray-900 dark:text-gray-200">
    <!-- Aplicaciones -->
    <a routerLink="">
      <div role="button" tabindex="0"
        class="flex items-center w-full p-3 text-start leading-tight transition-all hover:bg-emerald-100 dark:hover:bg-gray-700 hover:bg-opacity-90 focus:bg-emerald-100 dark:focus:bg-gray-700 focus:bg-opacity-100 active:bg-opacity-100 outline-none">
        <div class="grid place-items-center mr-4">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-4 h-4" viewBox="0 0 16 16">
            <path
              d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4z" />
          </svg>
        </div>
        Tus Aplicaciones
      </div>
    </a>

    <!-- Favoritos -->
    <a routerLink="">
      <div role="button" tabindex="0"
        class="flex items-center w-full p-3 text-start leading-tight transition-all hover:bg-emerald-100 dark:hover:bg-gray-700 hover:bg-opacity-90 focus:bg-emerald-100 dark:focus:bg-gray-700 focus:bg-opacity-100 active:bg-opacity-100 outline-none">
        <div class="grid place-items-center mr-4">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-4 h-4" viewBox="0 0 16 16">
            <path
              d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1" />
          </svg>
        </div>
        Favoritos
      </div>
    </a>
  </div>

  <!-- Si el usuario es administrador -->
  @if(isAdmin) {
  <!-- Más opciones -->
  <div class="flex flex-col gap-1 h-full w-full text-sm sm:text-base font-medium text-gray-900 dark:text-gray-200">
    <div (click)="openSidebarDropdown()"
      class="flex items-center w-full p-3 text-start cursor-pointer text-emerald-700 dark:text-emerald-500">
      <span>Más opciones</span>

      @if(!isDropdownVisible) {
      <div class="ml-2 mt-0.5">
        <svg xmlns="http://www.w3.org/2000/svg" class="size-3" fill="currentColor" viewBox="0 0 16 16"
          stroke="currentColor" stroke-width="1">
          <path fill-rule="evenodd"
            d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708" />
        </svg>
      </div>
      } @else {
      <div class="ml-2 mt-0.5">
        <svg xmlns="http://www.w3.org/2000/svg" class="size-3" fill="currentColor" viewBox="0 0 16 16"
          stroke="currentColor" stroke-width="1">
          <path fill-rule="evenodd"
            d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708z" />
        </svg>
      </div>
      }
    </div>

    @if(isDropdownVisible) {
    <ul>
      <li>
        <a routerLink="/home/user/admin-create">
          <div
            class="flex items-center w-full pl-6 py-3 pr-3 text-start leading-tight transition-all hover:bg-emerald-100 dark:hover:bg-gray-700 hover:bg-opacity-90 focus:bg-emerald-100 dark:focus:bg-gray-700 focus:bg-opacity-100 active:bg-opacity-100 outline-none">
            <div class="grid place-items-center mr-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-plus-square" viewBox="0 0 16 16">
                <path
                  d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                <path
                  d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
              </svg>
            </div>
            Crear
          </div>
        </a>
      </li>

      <li>
        <a routerLink="/home/user/admin-modify">
          <div
            class="flex items-center w-full pl-6 py-3 pr-3 text-start leading-tight transition-all hover:bg-emerald-100 dark:hover:bg-gray-700 hover:bg-opacity-90 focus:bg-emerald-100 dark:focus:bg-gray-700 focus:bg-opacity-100 active:bg-opacity-100 outline-none">
            <div class="grid place-items-center mr-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
                viewBox="0 0 16 16">
                <path
                  d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
              </svg>
            </div>
            Modificar
          </div>
        </a>
      </li>

      <li>
        <a routerLink="/home/user/admin-delete">
          <div
            class="flex items-center w-full pl-6 py-3 pr-3 text-start leading-tight transition-all hover:bg-emerald-100 dark:hover:bg-gray-700 hover:bg-opacity-90 focus:bg-emerald-100 dark:focus:bg-gray-700 focus:bg-opacity-100 active:bg-opacity-100 outline-none">
            <div class="grid place-items-center mr-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3"
                viewBox="0 0 16 16">
                <path
                  d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
              </svg>
            </div>
            Borrar
          </div>
        </a>
      </li>
    </ul>
    }
  </div>
  }
</div>