<div class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50 px-4 sm:px-6">
  <!-- Contenedor del modal con altura máxima -->
  <div class="bg-white dark:bg-gray-800 rounded-md shadow-lg w-full max-w-[90%] sm:max-w-[90%] md:max-w-[60%] lg:max-w-[40%] relative overflow-y-auto max-h-[90vh] pb-6 scrollbar-thin scrollbar-thumb-emerald-600 scrollbar-track-gray-200">
    
    <!-- Cabecera -->
    <div class="header w-full bg-gray-100 dark:bg-gray-700 py-4 rounded-t-md mb-6 flex items-start justify-between px-4 sm:px-6">
      
      <div class="px-4 flex flex-col flex-grow"> 

        <!-- Logo y nombre de la herramienta -->
        <div class="flex flex-col items-start text-left flex-grow">
          <!-- Logo de la herramienta -->
          <div class="w-10 h-10 mb-2">
            <ng-container *ngIf="toolData">
              <img *ngIf="toolData?.logo" [src]="toolData.logo" alt="{{ toolData.name }}" class="w-full h-full object-cover">
              <svg *ngIf="!toolData?.logo" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-box w-full h-full" viewBox="0 0 16 16">
                <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z"/>
              </svg>
            </ng-container>
          </div>

          <!-- Nombre de la herramienta -->
          <h2 id="toolName" class="text-2xl font-bold text-gray-900 dark:text-white">{{ toolData?.name }}</h2>
        </div>

        <!-- Detalle y Precio -->
        <div class="text-left">
          <p class="text-sm text-gray-600 dark:text-gray-300 mt-2">{{ toolData?.detail }}</p>
          <p class="text-sm font-semibold text-emerald-700 dark:text-emerald-500 mt-2">
            {{ toolData?.price === 0 ? 'Gratis' : toolData?.price + '€/Mes' }}
          </p>
        </div>

        <!-- Botones de acción: Descargar, Comprar, Compartir -->
        <div class="flex items-start space-x-3 justify-start mt-3">

            <!-- Comprobación del precio para determinar qué botón mostrar -->
            <ng-container *ngIf="toolData?.price === 0; else toBuyButton">
              <!-- Botón "Descargar" si es gratuito -->
              <button class="flex items-center px-3 py-1 text-sm text-gray-700 border border-gray-300 rounded hover:bg-gray-300 hover:text-emerald-600 hover:border-emerald-600 dark:bg-gray-800 dark:text-gray-200 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:text-emerald-400 dark:hover:border-emerald-400">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-download mr-2" viewBox="0 0 16 16">
                  <path d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383"/>
                  <path d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708z"/>
                </svg>
                Descargar
              </button>
            </ng-container>

            <!-- Botón "comprar" si no es gratuito -->
            <ng-template #toBuyButton>
              <button class="flex items-center px-3 py-1 text-sm text-gray-700 border border-gray-300 rounded hover:bg-gray-300 hover:text-emerald-600 hover:border-emerald-600 dark:bg-gray-800 dark:text-gray-200 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:text-emerald-400 dark:hover:border-emerald-400">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus mr-2" viewBox="0 0 16 16">
                  <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z"/>
                  <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                </svg>
                Comprar
              </button>
            </ng-template>

            <!-- Botón Compartir -->
            <button class="flex items-center px-3 py-1 text-sm text-gray-700 border border-gray-300 rounded hover:bg-gray-300 hover:text-emerald-600 hover:border-emerald-600 dark:bg-gray-800 dark:text-gray-200 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:text-emerald-400 dark:hover:border-emerald-400">
              <!-- SVG de Compartir -->
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share mr-2" viewBox="0 0 16 16">
                <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5m-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3"/>
              </svg>
              Compartir
            </button>
          </div>
        </div>

        <!-- Botón de cerrar encima de la cabecera -->
        <div class="absolute top-2 right-2 cursor-pointer" (click)="close()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6 text-gray-500" viewBox="0 0 16 16">
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
          </svg>
        </div>
      </div>
      
    <!-- Sección del cuerpo del modal CON padding lateral -->
    <div class="content flex flex-col mt-4 px-4 sm:px-6 space-y-6">
      <!-- Descripción de la herramienta -->
      <p class="text-gray-600 dark:text-gray-300 text-sm mb-4">{{ toolData?.description }}</p>
      <!-- Lista dinámica de propiedades usando el array properties -->
      <ul class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6 px-6">
        <li *ngFor="let property of toolData?.properties" class="text-black-600 dark:text-gray-300 flex items-center text-sm">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg mr-2 text-emerald-600" viewBox="0 0 16 16">
            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
          </svg>
          {{ property }}
        </li>
      </ul>

      <!-- Sección de Video -->
      <div class="video-section mt-4 my-6 w-full">
        
        <!-- Si hay un video, mostrar el iframe -->
        <div *ngIf="toolData?.video; else noVideo" class="w-full">
          <div class="relative" style="padding-top: 56.25%;"> <!-- Proporción 16:9 -->
            <iframe *ngIf="toolData?.video"
                    [src]="getEmbedUrl(toolData?.video!)"
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen
                    class="absolute top-0 left-0 w-full h-full">
            </iframe>
          </div>
        </div>

        <!-- Marcador de posición si no hay video -->
        <ng-template #noVideo>
          <div class="w-full h-40 bg-gray-300 flex items-center justify-center rounded-md">
            <p class="text-gray-500 dark:text-gray-300">No hay video disponible</p>
          </div>
        </ng-template>
      </div>
          
      <!-- Sección de capturas -->
      <div class="captures-section mb-6">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          <div *ngFor="let image of toolData?.images" class=" bg-gray-200 dark:bg-gray-700 flex items-center justify-center overflow-hidden">
            <img [src]="image" alt="Captura" class="object-cover h-full w-full" />
          </div>
        </div>
      </div>

      
    </div>
  </div>
</div>