<footer
  class="mx-auto mt-32 px-4 sm:px-6 lg:px-8"
  aria-labelledby="footer-heading"
>
  <div
    class="items-centers grid grid-cols-1 justify-between gap-4 border-t border-gray-100 py-6 md:grid-cols-2"
  >
    <p class="text-sm/6 text-gray-600 max-md:text-center">
      ©
      <!-- -->2024
      <!-- -->
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
    <div
      class="flex items-center justify-center space-x-4 text-sm/6 text-gray-500 md:justify-end"
    >
      <p>Privacy policy</p>
      <div class="h-4 w-px bg-gray-200"></div>
      <p>Terms</p>
    </div>
  </div>
</footer>

