<section>
  <div class="w-1/2 mx-auto py-10">
    <article class="py-6">
      <h1 class="text-4xl font-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
      <p class="text-xl py-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod adipisci animi ab illo
        aliquam consequatur assumenda iste, nisi suscipit sed debitis magni obcaecati impedit id fugit necessitatibus!
        Velit harum distinctio rerum! Libero esse obcaecati tenetur fugiat inventore similique?</p>
      <div class="flex justify-end">
        <a class="text-xl text-green-500 hover:font-bold cursor-pointer pr-8">Learn more</a>
      </div>
    </article>
  </div>
</section>